version: '3.8'

services:
  db:
    image: postgres:17
    container_name: friends_trip_bot_db
    command: -p ${POSTGRES_PORT}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:${POSTGRES_PORT}:${POSTGRES_PORT}"

  bot:
    build: .
    env_file:
      - .env
    container_name: friends_trip_bot
    depends_on:
      - db
    environment:
      POSTGRES_HOST: db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
    restart: always

volumes:
  db_data:
